<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">
                <div class="fa fa-home "></div> Home
            </a></li>
        <li class="breadcrumb-item"><a routerLink="/trainingschedule/list">List Training Schedule</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Training Schedule</li>
    </ol>
</nav>
<div class="card ">
    <div class="card-body">
        <div class="card ">
            <div class="card-header bg-dark text-white "> Create Training Schedule</div>
            <div class="card-body">

                <div [hidden]="submitted">
                    <form (ngSubmit)="onSubmit()">
                        <div class="row">

                            <div class="form-group col-md-6 mb-3">
                                <label for="startTime"> Start Time </label>
                                <select class="custom-select" id="startTime" required
                                    [(ngModel)]="trainingSchedule.startTime" name="startTime">
                                    <option [value]="item" *ngFor="let item of hourList | async"> {{item}} </option>
                                </select>

                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="endTime"> End Time </label>
                                <select class="custom-select" id="endTime" required
                                    [(ngModel)]="trainingSchedule.endTime" name="endTime">
                                    <option [value]="item" *ngFor="let item of hourList | async"> {{item}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 mb-3 ">
                                <label for="date"> Date </label>
                                <input type="date" class="form-control" id="secondname" placeholder=""
                                    required [(ngModel)]="trainingSchedule.date" name="secondname">
                            </div>

                            <div class="form-group col-md-6 mb-3">
                                <label for="sex"> Coach </label>
                                <select class="custom-select" id="coach" required [(ngModel)]="coachId" name="coach">
                                    <option value="{{item.id}}" *ngFor="let item of coach | async"> {{item.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success float-right">
                            <div class="fa fa-check"></div> Aceptar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>