<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/appointmenttype/list">List Appointment Type</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Appointment Type</li>
    </ol>
</nav>
<div class="card ">
    <div class="card-body">
        <div class="card ">
            <div class="card-header bg-dark text-white "> Create Appointment Type</div>
            <div class="card-body">

                <div [hidden]="submitted">
                    <form (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label for="name"> Name </label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required
                                [(ngModel)]="appointmentType.name" name="name">
                        </div>

                        <div class="form-group">
                            <label for="name">Description</label>
                            <textarea type="text" class="form-control" id="description" placeholder="Enter description"
                                row="6" required [(ngModel)]="appointmentType.description" name="description">
                    </textarea>
                        </div>
                        <button type="submit" class="btn btn-success float-right">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>