<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="">
                <div class="fa fa-home "></div> Home
            </a></li>
        <li class="breadcrumb-item"><a routerLink="/appointmenttype/list">List Appointment Type</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Appointment Type</li>
    </ol>
</nav>
<div class="card ">
    <div class="card-body">
        <div class="card ">
            <div class="card-header bg-dark text-white "> Create Appointment Type</div>
            <div class="card-body">

                <div [hidden]="submitted">
                    <form (ngSubmit)="onSubmit(appointmentTypeForm)" #appointmentTypeForm="ngForm">

                        <div class="form-group">
                            <label for="name"> Name </label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required
                                [(ngModel)]="appointmentType.name" name="name" #name="ngModel" minlength="5">
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                <div *ngIf="name.errors?.required">
                                    This field is required
                                </div>
                                <div *ngIf="name.errors?.minlength">
                                    At least 5 characters
                                </div>
                            </div>
                        </div>

                        <div userForm.form.valid class="form-group">
                            <label for="name">Description</label>
                            <textarea type="text" class="form-control" id="description" placeholder="Enter description"
                                row="6" required [(ngModel)]="appointmentType.description" name="description"
                                #description="ngModel" minlength="10"></textarea>
                            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                                <div *ngIf="description.errors?.required">
                                    This field is required
                                </div>
                                <div *ngIf="description.errors?.minlength">
                                    At least 10 characters
                                </div>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-success float-right"
                            [disabled]="!appointmentTypeForm.form.valid">
                            <div class="fa fa-check"></div> Aceptar
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>