<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=""><div class="fa fa-home "></div> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page" >List Appointment</li>
    </ol>
</nav>
<div class="card ">
    <div class="card-body">
        <div class="panel panel-default">
            <div class="card ">
                <div class="card-header bg-dark text-white "> Appointment</div>
                <div class="card-body">

                    <button routerLink="/appointment/create" class="btn btn-success my-2 my-sm- float-right d-inline-block" tabindex="0" data-toggle="tooltip" title="Create"
                        role="button" aria-pressed="true"> <div class="fa fa-plus "></div> </button>
                    <div class="panel-body">
                        <table class="table table-bordered ">
                            <thead class="thead-light">
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Registration date</th>
                                    <th>Appointment type</th>
                                    <th>Training schedule</th>
                                    <th>Member</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of appointment | async">
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.registrationDate}}</td>
                                    <td>{{item.appointmentType.name}}</td>
                                    <td>{{item.trainingSchedule.date}}</td>
                                    <td>{{item.member.name}}</td>
                                    <td>
                                        <div class="row justify-content-center">
                                            <span class="edit btn btn-info btn-sm d-inline-block" tabindex="0" data-toggle="tooltip" title="Edit" style="margin-right: 5px; margin-left: 7px;"
                                                routerLink="/appointment/edit/{{item.id}}"> <div class="fa fa-pencil-square-o"></div> </span>


                                            <span class="details btn btn-secondary btn-sm d-inline-block" tabindex="0" data-toggle="tooltip" title="Details" style="margin-right: 5px;"
                                                routerLink="/appointment/details/{{item.id}}"> <div class="fa fa-eye"></div> </span>
                                            <span class="delete btn btn-danger btn-sm d-inline-block" tabindex="0" data-toggle="tooltip" title="Delete" style="margin-right: 7px;"
                                                (click)="deleteAppointment(item.id)"
                                                > <div class="fa fa-trash-o"></div> </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
