<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=""><div class="fa fa-home "></div>Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/member/list">List Member</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Member</li>
    </ol>
</nav>
<div class="card ">
    <div class="card-body">
        <div class="card ">
            <div class="card-header bg-dark text-white "> Edit Member</div>
            <div class="card-body">
                <div class="container custom-container">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="form-group col-md-4 mb-3">
                                <label for="name"> Name </label>
                                <input type="text" [(ngModel)]="memberData.name" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="firstname"> First surname </label>
                                <input type="text" [(ngModel)]="memberData.firstSurname" class="form-control"
                                    placeholder="First name">
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="secondname"> Second surname </label>
                                <input type="text" [(ngModel)]="memberData.secondSurname" class="form-control"
                                    placeholder="Second Name">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 mb-3">
                                <label for="sex"> Sex </label>
                                <select class="custom-select" required [(ngModel)]="memberData.sex">
                                    <option [value]="item" *ngFor="let item of sexList | async"> {{item}}</option>
                                    
                                </select>
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="firstname"> Age </label>
                                <input type="number" [(ngModel)]="memberData.age" class="form-control"
                                    placeholder="First name">
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="secondname"> Phone </label>
                                <input type="number" [(ngModel)]="memberData.phone" class="form-control"
                                    placeholder="Second Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success float-right" (click)="MemberEditComponent()"><div class="fa fa-check"></div> Aceptar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 